mixin steamBtn(btnSteamLink, btnSteamContents)
    a.button.avalon-primary-background.tall.m-1.is-primary.is-large.is-flex-direction-column.px-3(href=btnSteamLink alt="Visit our Steam page")
        span.has-text-centered.is-size-6.level.mb-1 #{btnSteamContents}
        span.has-text-centered.is-size-4.level
            img.is-32x32(
                src="./assets/img/steam_icon_logo.png",
                width="32"
            )
            span.ml-2 Steam
            