include ./mixins/gameBox.pug

doctype html
html(lang='en')
    include includes/head.pug
include includes/top-nav.pug
#intro.hero.is-half.avalon-hero-image
    .hero-body
        h2.title.is-2 Find Fun
        h4.subtitle.is-4 Play games

section#games.section
    h2.title.is-2 Games
    //- gameBox(title, subtitle, gameLink, isBtnSteam, btnSteamLink, btnSteamContents, isBtnItch, btnItchLink, btnItchContents, isBtnKong, btnKongLink, btnKongContents, imageSource, smallImg1Src, smallImg1Txt, smallImg2Src, smallImg2Txt, smallImg3Src, smallImg3Txt)
    +gameBox('Gem Blast', 'Puzzle strategy game on an infinite hex board.', './gemblast.html', true, 'https://store.steampowered.com/app/2560850/Gem_Blast/', 'Wishlist on', true, 'https://avalonstudios.itch.io/gem-hunter', 'Demo on', false, '', '', './assets/img/gemblast/gemblast-title-screen.png')
    +gameBox('Needle Knights', 'A sidescrolling shooter. Switch between a team of tiny fairies riding the backs of friendly insects.', './needleknights.html', false, '', '', true, 'https://avalonstudios.itch.io/needle-knights', 'Available on', false, '', '', './assets/img/needleknights/needleknights-title.png')
    +gameBox('Thrive', 'A hardcore bullet hell game with RPG elements.', './thrive.html', false, '', '', true, 'https://avalonstudios.itch.io/thrive', 'Available on', false, '', '', './assets/img/thrive/thrive-maintitle-playbutton.png')
    +gameBox('Spirit Quest', 'Zelda-like adventure game.', './spiritquest.html', false, '', '', false, '', '', false, '', '', './assets/img/spiritquest/spiritquest-attack.png')

section#about.section
    h1.title About Us
    h2.subtitle Each of our games is a passion project. We hope you love playing them as much as we loved creating them.

section#contact.section
    h1.title Contact
    h2.subtitle Questions? Comments? Get in touch.
    a(href="mail to: hello@avalonstudios.xyz") hello@avalonstudios.xyz
script
    include script.js
