.avalon-primary-background-gradient {
    background: linear-gradient(hsl(230, 100%, 95%), hsl(230, 100%, 75%));
}
.avalon-primary-text {
    color: hsl(230, 100%, 85%);
}
.avalon-primary-background {
    background-color: hsl(230, 100%, 70%);
}
.flex-center {
    display: flex;
    align-items: center;
}
.button.avalon-primary-background {
    background-color: hsl(230, 100%, 70%);
    color: #efefef;
}
.button.avalon-primary-background:hover {
    background-color: hsl(230, 100%, 60%);
}
